<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> - Change Password</title>
    {% load staticfiles %}
    <link rel="shortcut icon" type="image/png" href="{%  static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'board/style.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="{% static 'board/js/main.js' %}"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <!-- Header -->
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'board:index' %}">Notes</a>
        </div>

    </div>
</nav>

<div class="container" style="padding-top: 50px;">
{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}" style="color: red;">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
<form method="post">
  {% csrf_token %}
  {{ form }}
  <button type="submit">Save changes</button>
</form>
  </div>
<p></p>
<nav class="navbar navbar-inverse">
  <div class="container" style="padding-top: 15px;">
  <a class="navbar-brand" href="{% url 'board:index' %}">Back to Projects</a>

</div>
  </nav>
</body>
</html>
